<a href="https://colab.research.google.com/github/Sunny-Sean/learn_pandas/blob/main/Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [18]:
myindex = ["usa", "canada", "mexico"]
mydata = [1776, 1867, 1821]

In [19]:
myser = pd.Series(data = mydata, index = myindex)

In [21]:
myser["canada"]

1867

In [24]:
ages = {"hieu": 7, "sunny": 5, "xan": 8}
new_ages = pd.Series(data = ages)

In [26]:
type(new_ages)

pandas.core.series.Series

In [27]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [29]:
sale_q1 = pd.Series(data = q1)

In [28]:
sale_q2 = pd.Series(data = q2)

In [37]:
x = sale_q1.values

In [40]:
sale_q1 + sale_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [44]:
sale_q1.add(sale_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64